body{
    background-color: #CCCCCC;
    color: #000000;
    font-family: "Century Gothic", Arial, sans-serif;
    }

h1{ font-size: 26px;}
h2{ font-size: 22px;}
h3{ font-size: 18px;}
h1,h2,h3 {letter-spacing: 0.1rem;}

/*div {border: solid thin yellow;}
span {border: solid thin red;}*/

.hi-lite { font-weight: bold;}

p.hi-lite{
    background-color: #666666;
    color: #CCCCCC;
    padding: 1em;
}
span.hi-lit{
    color: #405C56;
}

#address, .smallprint{
    font-size: 12px;
    font-style: italic;
}

img {
  width: 50px;
  height: 60px;
  padding: 10px;
}

#footer .smallprint {text-align: right;}
